{% extends "base.extend" %}
{% block content %}
        <div class="container">
            {% include "startmini.include" %}
            <div id="about">
                <h3>Hey, how's it going?</h3>
                <p>
Thanks for checking out version 1.0 of Scrwall. I hope this FAQ’ing page helps answer your questions, if not please email us at scrwall@gmail.com and we’ll hook you up with an answer. You can also use our <a href="#">feedback form</a> to leave suggestions, comments, or just bitch…we’re all about sharing here!
                </p>
                <p>Ok, so here’s the initial thought that led to Scrwall.com:</p>
                <p>
                    <em>
I wanted to ‘amp’ up each tweet, fb post, or shared url with more than one piece of content. It seemed to me that sending a collection of LeBron James pics was more interesting than sending just one.  I also witnessed my wife helping her Mom shop for a dress. She kept sending her various images of dresses over and over and over. Seemed easier for the collector to just send one url and more fun for the recipient to view all of the selections at once.
                    </em>
                </p>
                <h3>FAQ</h3>
                <p>
                    <strong>Can I only share images or what?</strong>
                    <br />
Right now yes, but to get invites to the Playboy Mansion parties we’re gonna have to expand Scrwall to allow for sharing of all kinds of online content.
                </p>
                <p>
                    <strong>Where do I get the ‘image url’ to drop into my collection?</strong>
                    <br />
Yeah, you probably know how to grab an image url, but for anyone who has actually made it this far and somehow still doesn’t, you’ve got to right or control click the image you want and choose either (copy image location, copy image url, or select properties and then copy the address url) once you’ve got that drop it into your collection, click add and BAM!  Add as many as you want, send it as often as you want!
                </p>
                <p>
                    <strong>Do you think Jessica Alba is still hawt?</strong>
                    <br />
                    Yes. Dumb question. Next...
                </p>
                <p>
                    <strong>
                        If I want to come back to a collection to share it again or add more images, how do I find it?
                    </strong>
                    <br />
                    <em>Please remember to bookmark your collection page</em> 
so you can return to it. For now, only the ten most recent collections (which have been named) from ALL users remain on the homepage.
                </p>
                <p>
                    <strong>How do I share my collection?</strong>
                    <br />
Highlight the collection url on the right side of the nav bar and then paste that into any tweets, posts, chats…wherever you want OR you can select the collections url in the address bar and copy and paste that anywhere you want to.
                </p>
                <p>
We totally appreciate you using Scrwall and helping us make it better &mdash you give us the warm tinglies.
                </p>
                <p>Remember: every time you share, share more.</p>
                <p><em>Scrwall Team</em></p>
            </div>
        </div>
{% endblock %}
