{% extends "base.extend" %}
{% block content %}
<div class="container">
    {% include "startmini.include" %}
    <div id="about">
        <h3>How Scrwall works</h3>
        <ul class="about">
            <li>Click any ‘Start Collecting’ button on our site and you’ll be given a collection page</li>
            <li>Give your collection page a name</li>
            <li>Bookmark the page so you can return to it and add more pics or share again</li>
            <li>Begin copying and pasting in any image urls you want to collect from around the web</li>
            <li>As the images are added you’ll notice you can drag around your collection to view them all</li>
            <li>If you refresh your page the images may load in a different position but will still remain part of the collection (Only if links become broken at their source will images not appear)</li>
            <li>Once you’ve collected the images you wanted to share, copy your collections url and tweet, facebook, email…or share however you like</li>
            <li>Anyone who clicks on your link will see the glorious montage you’ve created.</li>           
        </ul>
        <p>
Thanks for visiting. If you have any further questions please email us at <a class="inline" href="mailto:scrwall@gmail.com">scrwall@gmail.com</a> or fill out our <a class="feedback inline" href="#">feedback form</a>.
        </p>
        <h3>Why we made Scrwall.com</h3>
        <p>
            <em>
I witnessed my wife helping her Mom shop for a dress. She kept sending her various images of dresses over and over and over. Seemed easier for the collector to just send one url and more fun for the recipient to view all of the selections at once. From there I wanted to ‘amp’ up each tweet, fb post, or shared url with more than one piece of content. It seemed to me that sending a collection of pics was more interesting than sending just one.  
            </em>
        </p>
        <a name="faq"></a>
        <h3>FAQ</h3>
        <p>
            <strong>Can I only share images or what?</strong>
            <br />
Right now yes, but we have big plans to expand Scrwall to allow for sharing of all kinds of online content.
        </p>
        <p>
            <strong>Where do I get the ‘image url’ to drop into my collection?</strong>
            <br />
Anywhere you can find on the internet, if you can see it probably everyone can see it, just right or control click the image you want and choose either (copy image location, copy image url, or select properties and then copy the address url) once you’ve got that drop it into your collection, click add and BAM!  Add as many as you want, send it as often as you want!
        </p>
        <p>
            <strong>
                If I want to come back to a collection to share it again or add more images, how do I find it?
            </strong>
            <br />
            <em>Please remember to bookmark your collection page</em> 
so you can return to it. For now, only the ten most recent collections (which have been named) from ALL users remain on the homepage.
        </p>
        <p>
            <strong>How do I share my collection?</strong>
            <br />
Highlight the collection url on the right side of the nav bar and then paste that into any tweets, posts, chats…wherever you want OR you can select the collections url in the address bar and copy and paste that anywhere you want to.
        </p>
        <p>
We totally appreciate you using Scrwall and helping us make it better &mdash you give us the warm tinglies.
        </p>
        <p>Remember: every time you share, share more.</p>
        <p><em>Scrwall Team</em></p>
    </div>
</div>
{% endblock %}
