<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Scrwall - Everytime you share, share more</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
</head>

<body>
    <div id="header">
        <div class="container">
            <div id="header_nav" class="navlinks">
                <a class="navlinks" href="http://www.twitter.com/scrwall">
                    <img src="/images/twitter_icon.png" alt="Follow Us on Twitter" /> FOLLOW US
                </a> &nbsp;&nbsp;
                <a class="navlinks" href="http://www.facebook.com/scrwall">
                    <img src="/images/fbook_icon.png" alt="Find Us on Facebook" /> FIND US
                </a>
            </div>
            <div id="logo">
                <p>
                    <a href="http://www.scrwall.com">
                        <img class="middle" src="images/logo_big.png" alt="Scrwall" />
                    </a> &nbsp;
                    <span class="tagline"><em>everytime you share, share more</em></span>
                </p>
            </div>
        </div>
    </div>
    <div id="main" class="container">
    	<div id="screenshot">
            <img src="images/scrwall_screen.jpg" alt="Scrwall Collection" />
        </div>
        <div id="content">
            <h1 class="title1">An easy way to</h1>
            <h1 class="title2">collect &amp; share</h1>
            <form action="c" method="post">
                <p>
                    <input type="submit" id="startbtn" value="" />
                </p>
            </form>
            <a href="">>> Learn more about using Scrwall</a>
            <br /><br />
            <span class="small"><em>*Scrwall is pronounced "scrawl"</em></span>
        </div>
    </div>
    <div class="container">
        <div id="newcollec">
            <h2>Recent Scrwall Collections</h2>
        </div>
        <div id="collections">
            <ol>
                {% for wall in latest %}
                <li><a href="/c/{{wall.unique_id}}">{{wall.name}}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div id="footer_right" class="footlinks">
                &copy; 2010 SCRWALL &nbsp; |
                <a class="footlinks" href="http://www.scrwall.com">TERMS</a>
                <a class="footlinks" href="http://www.scrwall.com">PRIVACY</a>
            </div>
            <div id="footer_logo">
                <a href="http://www.scrwall.com">
                    <img src="images/logo_footer.png" alt="Scrwall" />
                </a>
            </div>
            <div id="footer_left" class="footlinks">
                <a class="footlinks" href="http://www.scrwall.com">FAQ</a>
                <a class="footlinks" href="http://www.scrwall.com">CONTACT</a>
                <a class="footlinks" href="http://www.scrwall.com">FEEDBACK</a>
            </div>
        </div>
    </div>
</body>
</html>
