<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Scrwall - Everytime you share, share more</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/images/favicon.ico" />

</head>

<body>
    <div id="header">
        <div class="container">
            <div id="header_nav" class="navlinks">
                <a class="navlinks" href="http://www.twitter.com/scrwall">
                    <img src="images/twitter_icon.png" border="0" alt="Follow Us on Twitter" /> FOLLOW US
                </a> &nbsp;&nbsp;
                <a class="navlinks" href="http://www.facebook.com/scrwall">
                    <img src="images/fbook_icon.png" border="0" alt="Find Us on Facebook" /> FIND US
                </a>
            </div>
            <div id="logo">
                <p>
                    <a href="http://www.scrwall.com">
                        <img class="middle" src="images/logo_big.png" border="0" alt="Scrwall" />
                    </a> &nbsp;
                    <span class="tagline"><em>everytime you share, share more</em></span>
                </p>
            </div>
        </div>
    </div>
    <div id="main" class="container">
    	<div id="screenshot">
            <img src="images/scrwall_screen.jpg" border="0" alt="Scrwall Collection" />
        </div>
        <div id="content">
            <span class="title1">An easy way to<br /></span>
            <span class="title2">collect &amp; share</span><br />
            <ul id="startbtn">
                <li id="button">
                    <a href="#"></a>
                </li>
            </ul>
            <a href="">>> Learn more about using Scrwall</a>
            <br /><br />
            <span class="small"><em>*Scrwall is pronounced "scrawl"</em></span>
        </div>
    </div>
    <div class="container">
        <div id="newcollec">
            <span class="title3">Recent Scrwall Collections</span>
        </div>
        <div id="collections">
            Some text here that runs longer so I can see what's going onee and on and on and on
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div id="footer_right" class="footlinks">
                &copy; 2010 SCRWALL &nbsp; | &nbsp;
                <a class="footlinks" href="http://www.scrwall.com">TERMS</a>
                &nbsp;
                <a class="footlinks" href="http://www.scrwall.com">PRIVACY</a>
            </div>
            <div id="footer_logo">
                <a href="http://www.scrwall.com">
                    <img src="images/logo_footer.png" border="0" alt="Scrwall" />
                </a>
            </div>
            <div id="footer_left" class="footlinks">
                &nbsp;&nbsp;&nbsp;
                <a class="footlinks" href="http://www.scrwall.com">FAQ</a>
                &nbsp;
                <a class="footlinks" href="http://www.scrwall.com">CONTACT</a>
                &nbsp;
                <a class="footlinks" href="http://www.scrwall.com">FEEDBACK</a>
            </div>
        </div>
    </div>
</body>
</html>
