<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{% if wall.name %}{{wall.name}} - {% endif %}Scrwall</title> 
        <link href="/static/style2.css" rel="stylesheet" type="text/css" /> 
        <link rel="shortcut icon" href="/images/favicon.ico" /> 
        {% include "walljs.include" %}
        <script type="text/javascript"> 
            var wall = {
                "name": "{{wall.name}}",
                "unique_id": "{{wall.unique_id}}",
                "created": "{{wall.created}}"
            };
            var items = [
                {% for item in wall.items %}'{{item.url}}',
                {% endfor %}
            ];
        </script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-17152537-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>         
    </head> 
    <body>
<!--[if IE]>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js" charset="utf-8"></script>
<style>
    .chromeFrameInstallDefaultStyle {
        z-index: 10000;
    }
</style>
<div id="placeholder"></div>
<script type="text/javascript">
    CFInstall.check({
        node: "placeholder"
    });
</script>
<![endif]-->
       <div id="header"> 
            <div class="container"> 
                <div id="header_nav" class="navlinks">
                    <a class="navlinks feedback" href="#">Feedback</a>
                    <a class="navlinks" href="http://twitter.com/scrwall">Twitter</a>
                    <a class="navlinks" href="http://facebook.com/pages/Scrwall/351290708175">Facebook</a>
                    <a class="navlinks" href="/legal">Legal</a>
                </div>
                <div id="logo">
                    <a href="/">
                        <img src="/images/logo_big.png" id="logo-img" alt="Scrwall" class="middle" />
                    </a>
                    <span class="tagline"><em>everytime you share, share more</em></span>
                </div> 
                <form action="/c" method="post">
                    <div>
                        <input type="submit" id="startbtn" value="" />
                    </div>
                </form>
            </div> 
        </div>
        <div id="body"></div>
        <div class="container">
            <div id="main">
                <div id="message">
                    <span id="msgtxt"></span>
                    <a href="#" class="feedback">Probably our fault, let us know what should happen</a>
                    <a id="closemsg" href="#"></a>
                </div> 
                <div id="collname">
                    <form method="PUT" action="/res/collections/{{wall.unique_id}}">
                        <input type="text" class="header-input" name="name" id="coll-name" value="" size="25" maxlength="100" /> 
                        <input type="submit" class="button" value="SAVE" /> 
                    </form> 
                </div> 
                <div id="imgurl"> 
                    <form method="POST" action="/res/collections/{{wall.unique_id}}/items"> 
                        <input type="text" class="header-input" name="item" id="img-url" value="" size="25" maxlength="255" /> 
                        <input type="submit" class="button" value="ADD" /> 
                    </form> 
                </div> 
                <div id="collurl"> 
                    <div id="coll-url">http://www.scrwall.com/c/{{wall.unique_id}}</div>
                </div>
            </div>
        </div>
        {% include "feedback.include" %}
    </body> 
</html>
