@charset "UTF-8";
/* Background-Styles */

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('league_gothic-webfont.eot');
    src: local('League Gothic'), local('LeagueGothic'),
            url('league_gothic-webfont.woff') format('woff'),
            url('league_gothic-webfont.ttf') format('truetype'),
            url('league_gothic-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    color:#444;
    font-size:15px;
    line-height:22px;
    margin:0;
    padding:0;
}

p + h3 { margin-top:20px; }

h3 + p { margin-top:10px; }

p + p { margin-top:15px; }

a {
    font-size:14px;
    color:#494949;
    text-decoration:none;
}

img {
    border: 0;
}

a:hover {
    color:#0b7fb1;
}

a.navlinks {
    font-family: 'LeagueGothicRegular', 'arial narrow', sans-serif;
    font-size:18px;
    color:#0e3c50;
    text-shadow: #2babe2 0px 1px 0px;
    letter-spacing:0px;
    vertical-align:middle;
    margin-left: 10px;
}

a.navlinks:hover {
    color:#002839;
}

.navlinks img {
    vertical-align:middle;
}

h1 {
    font-family: 'LeagueGothicRegular', 'arial narrow', sans-serif;
    font-weight: normal;
    font-size: 80px;
    text-shadow: #fff 0px 1px 0px;
    letter-spacing: 0px;
    text-transform:uppercase;
    margin: 0;
    padding: 0;
}

.title1 {
    color:#4b4b4b;
    line-height:70px;
}

.title2 {
    font-size:76px;
    color:#0b7fb1;
    line-height:60px;
}

h2 {
    font-family: 'LeagueGothicRegular', 'arial narrow', sans-serif;
    font-size:28px;
    color:#fff;
    text-transform:uppercase;
    line-height:30px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.tagline {
    font-family: 'LeagueGothicRegular', 'arial narrow', sans-serif;
    font-size:24px;
    color:#d2e9f3;
    letter-spacing:0px;
    line-height:60px;
    vertical-align:middle;
    margin-left: 8px;
}

img.middle {
    vertical-align:middle;
}

#header {
    height:80px;
    background-image:url('../images/header_bg.jpg');
    background-repeat:repeat-x;
    background-color:#00a1e6;
    border-bottom-style:solid;
    border-bottom-width:2px;
    border-bottom-color:#1491c6;
}

.container {
    width:960px;
    margin:0 auto;
    position:relative;
}

#logo {
    width:500px;
    height:75px;
    float:left;
    text-align:left;
    padding-top:5px;
}

#header_nav {
    width:400px;
    height:55px;
    float:right;
    text-align:right;
    margin-left:10px;
    padding-top:25px;
}

#main {
    height:365px;
    background-color: #f0f0f0;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-top: 0px;
    border-right: 1px solid #9b9b9b;
    border-bottom: 1px solid #6e6e6e;
    border-left: 1px solid #9b9b9b;
    background-image:url('../images/main_bg.jpg');
    background-repeat:repeat-x;
}

#about {
	float:left;
	width:530px;
	height:auto;
	padding:15px 15px 0px 0px;
	margin-bottom:20px;
}

h3 {
	font-family: "LeagueGothicRegular", arial narrow, sans-serif;
	font-size:40px;
	color:#0b7fb1;
	letter-spacing:0px;
	text-transform:uppercase;
	margin:0px 0px 0px 0px;
	line-height:40px;
}

#main-title {
	background-color: #c7c7c7;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-top: 0px;
	border-right: 1px solid #9b9b9b;
	border-bottom: 1px solid #6e6e6e;
	border-left: 1px solid #9b9b9b;
	background-image:url('/images/main_bg.jpg');
	background-repeat:repeat-x;
	float:right;
	width:375px;
	height:260px;
	padding:15px 15px 15px 15px;
	text-align:center;
}

#screenshot {
    float:right;
    width:530px;
    height:330px;
    padding:15px 15px 0px 0px;
}

#content {
    float:left;
    width:375px;
    height:330px;
    padding:15px;
    text-align:center;
}

#startbtn {
    width: 317px;
    height: 102px;
    background: url('../images/start_btn.png') top center no-repeat;
    display: block;
    border: 0px solid black;
    margin: 18px auto;
}

#startbtn:hover {
    background: url('../images/start_btn.png') 0px -108px no-repeat;
}

#newcollec {
    float:left;
    width:413px;
    height:33px;
    background-color: #f0f0f0;
    margin-top:15px;
    padding-top:2px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 1px solid #1491c6;
    background-image:url('../images/newcollec_bg.jpg');
    background-repeat:repeat-x;
    text-align:center;
    clear:both;
}

#collections {
    width:385px;
    min-height:150px;
    padding:5px 15px 0px 15px;
    margin-bottom:20px;
    text-align:left;
    background-image:url('../images/collections_bg.jpg');
    background-repeat:no-repeat;
    clear:both;
}

#footer {
    height:38px;
    background-image:url('../images/footer_bg.jpg');
    background-repeat:repeat-x;
    background-color:#f0f0f0;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#999999;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#d6d6d6;
    clear:both;
}

#footer_logo {
    height:33px;
    float:left;
    padding-top:5px;
}

#footer_left {
    height:3px;
    float:left;
    padding-top:8px;
    padding-left: 6px;
    vertical-align:middle;
}

#footer_right {
    height:30px;
    float:right;
    vertical-align:middle;
    padding-top:8px;
}

.footlinks {
    font-family: "LeagueGothicRegular", 'arial narrow', sans-serif;
    text-shadow: #ffffff 0px 1px 0px;
    letter-spacing:0px;
    color: #666666;
    font-size:18px;
}

a.footlinks {
        color:#555555;
        padding-left: 6px;
}

a.footlinks:hover {
    color:#333333;
}

.small {
    font-size:10px;
    color:#494949;
}
